<h1>Add Show Details</h1>
<ul>
<form action="/television_shows" method='post'>

  <label for="title">Write Title Here: </label>
  <input type="text" id="title" name="title" size="35" required>
  <br>
  <label for="network">Write Network Here: </label>
  <input type="text" id="network" name="network" size="35" required>
  <br>
  <label for="starting_year">Write Starting Year Here: </label>
  <input type="text" id="starting_year" name="starting_year" size="35" required>
  <br>
  <label for="synopsis">Write Synopsis Here: </label>
  <input type="text" id="synopsis" name="synopsis" minlength=50 required>
  <br>
  <label for="genre">Write Genre Here: </label>
  <input type="text" id="genre" name="genre" size="35" required>
  <br>
  <input type="submit">

</form>
</ul>
